$color-primary: #adb5bd;
$color-secondary: #D0D5DD;
$color-success: #5bd49a;
$color-warning: #fda135;
$color-danger: #f27363;
$color-error: #c23616;
$color-info: #00bff5;

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-danger: #{$color-danger};
  --color-error: #{$color-error};
  --color-info: #{$color-info};
}
