@use '../variables/colors';

@forward 'element-plus/theme-chalk/src/common/var' with (
  $colors: (
    'primary': (
      'base': colors.$color-primary,
    ),
    'success': (
      'base': colors.$color-success,
    ),
    'warning': (
      'base': colors.$color-warning,
    ),
    'danger': (
      'base': colors.$color-danger,
    ),
    'error': (
      'base': colors.$color-error,
    ),
    'info': (
      'base': colors.$color-info,
    ),
  ),
  $input: (
    'text-color': theme('colors.primary'),
    'border-color':  theme('colors.gray.600'),
    'hover-border-color': theme('colors.gray.500'),
    'focus-border-color': theme('colors.gray.500'),
    'bg-color': theme('colors.gray.600'),
  ),
  $radio-button: (
    'checked-bg-color':  colors.$color-info,
    'checked-text-color':  #FFFFFF,
    'checked-border-color':  colors.$color-info,
    'disabled-checked-fill':  theme('colors.gray.500'),
  ),
 );

@use "element-plus/theme-chalk/src/var";
@use "element-plus/theme-chalk/src/base";
@use "element-plus/theme-chalk/src/button";

@use "element-plus/theme-chalk/src/form";
@use "element-plus/theme-chalk/src/form-item";
@use "element-plus/theme-chalk/src/input";
@use "element-plus/theme-chalk/src/loading";
@use "element-plus/theme-chalk/src/select";
@use "element-plus/theme-chalk/src/option";
@use "element-plus/theme-chalk/src/date-picker";
@use "element-plus/theme-chalk/src/col";
@use "element-plus/theme-chalk/src/time-picker";
@use "element-plus/theme-chalk/src/switch";
@use "element-plus/theme-chalk/src/checkbox";
@use "element-plus/theme-chalk/src/checkbox-group";
@use "element-plus/theme-chalk/src/radio";
@use "element-plus/theme-chalk/src/radio-button";
@use "element-plus/theme-chalk/src/radio-group";
@use "element-plus/theme-chalk/src/popper";
@use "element-plus/theme-chalk/src/card";
@use "element-plus/theme-chalk/src/scrollbar";
@use "element-plus/theme-chalk/src/dialog";
@use "element-plus/theme-chalk/src/message-box";
@use "element-plus/theme-chalk/src/table";